
*, *:before, *:after {
  box-sizing: border-box;
} 

/* font rules */
h1,h2,h3,h4,h5,h6 {
	font-family: "Playfair display", serif;
}
p{
	font-family: "raleway",sans-serif;
	font-size: 1rem;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {font-size: 1.5rem;
}
h4 {font-size: 1.25rem;
}
h5 {font-size: 1rem;
}

.text-center{
	text-align: center;
}
.italic{
	font-style: italic;
}

.bold{
	font-weight: bold;
}
.text-shadow{
	text-shadow: 2px 2px 4px gray;
}

.logo{
	float: left;
	width:12%;
	margin:2vh 3vh;
}
.cart{
	float: right;
	width:5%;
	margin:2vh;
}

#banner{
	clear: both;
	background-image:url("images/flower-bkgd.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 70vh;
	position: relative;
}

 #banner-girl{
 	position: absolute;
 	background-position: top;
 	background-repeat: no-repeat;
 	bottom: 0;
 	left: 50%;
 	width: 20%;
 	background-size: cover;
 	margin-left: -10%;
 	background-image: url("images/banner-girl.png");
 	z-index:1;
 	height: 90%;
}

#banner-text{
	width: 100%;
	z-index: 2;
	position: absolute;
	top:50%;
	color: white;
}

#banner-text h5{
	font-family: "raleway",sans-serif;
	text-shadow: 2px 2px 4px gray;
}


 .cta {
	margin-top:8vh; 
	margin-bottom: 8vh;
	line-height: 3rem;
}
	
.products{
	border-top: 1px solid gray;
	clear: both;
	margin-bottom:6vh;
}

.products h2{ 	
margin-top:8vh;
margin-bottom:7vh;


}

.item-width-25{
	width: 25%;
	float: left;
}
.item-width-25 img{
	height: 35vh;
}

.item-width-25 p{
color:gray;
}

.item-width-25 h3{
	color:#cc3b3b;
	line-height:4rem;
}

.products:after{
	clear: both;
	content:" ";
	display: block;
}

.subscribe{
	height:40vh;
	background-image: url("images/wave-bkgd.jpg");
	background-repeat: no-repeat;
	background-position:bottom;
}

.subscribe-text{
	padding-top: 5vh;
}

.subscribe-text h2{
	color: white;
	line-height: 3rem;
}

.subscribe-text p{
	color:white;
	line-height: 2rem;
	padding-bottom: 4vh;
}


.form{
	width: 25%;
	margin: 0 auto;
	background-color: white;
	border-radius: 25px;
	padding: 4px;
	}

	input[type="text"]{
		width: 70%;
		float: left;
		padding: 4px 10px;
		border:none;
		background: none;
		max-height: 15vh;
		font-size:0.9rem;
		line-height: 1.5rem;
		font-weight: 300;
		

	}

	input[type="submit"]{
		width: 30%;
		float: right;
		padding: 4px 10px;
		border-radius: 25px;
		border:none;
		background-color:#e05555;
		max-height: 15vh;
		color: white;
		font-size:0.9rem;
		line-height: 1.5rem;
		
	}

.form:after{
	clear: both;
	content:" ";
	display: block;
}
	

   


footer{
	background-color:black;
	color:white;
}
.social{
	float: right;
	color: white;
	padding: 60px;
	line-height: 1.7rem;

}
.social a{
	text-decoration: none;
	color: white;

}
.social a:hover{
	color: gray;
}
.info{
	float: left;
	padding: 60px 20px;
	font-size: 1rem;
}

.info a{
	color: white;
}
.info a:hover{
	color: gray;
}

.info p:nth-child(3){
	line-height: 4rem;
}
.info p:nth-child(n+4){
	color:gray;
}
	


footer:after{
	clear: both;
	content:" ";
	display: block;
}


