



.logo{
	float: left;
	height: 80px;
	width: 150px;
	margin-left: 25px;
}
.cart{
	float: right;
	height: 50px;
	width: 50px;
	margin: 15px 30px;
}

#banner{
	clear: both;
	background-image:url("images/flower-bkgd.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 70vh;
	position: relative;

}

 #banner-girl{
 	position: absolute;
 	background-position: top;
 	background-repeat: no-repeat;
 	bottom: 0;
 	left: 50%;
 	width: 20%;
 	background-size: cover;
 	margin-left: -10%;
 	background-image: url("images/banner-girl.png");
 	z-index:1;
 	height: 90%;
}

#banner-text{
	width: 100%;
	z-index: 2;
	position: absolute;
	top:50%;
	text-align:center;
	color: white;
}

#banner-text h5{
	font-style: arial;
	font-size: 18px;
}

#banner-text h1{
	font-size: 40px;
}



.cta-text{
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}
.cta-text h2{
	font-size:40px;
	line-height: 90px;
}
.cta-text p{
	font-family: Verdana;
	font-size: 17px;
	line-height: 35px;
}
.products{
	border-top: 1px solid gray;
	clear: both;
}

.products h2{
font-size:40px;
text-align: center;
margin-top:60px;
margin-bottom: 80px;

}

.item-width-25{

	width: 25%;
	float: left;
	text-align: center;
}
.item-width-25 img{
	height: 35vh;

}

.item-width-25 p{
	font-style: arial;
	color:gray;
	font-size: 15px;
}

.item-width-25 h3{
	font-style: sans-serif;
	color:red;
	font-size:25px;
	line-height: 40px;
}

.subscribe{
	position: relative;
	height:40vh;

	background-image: url("images/wave-bkgd.jpg");
	background-repeat: no-repeat;
	background-position:bottom;
}

.subscribe-text{
	width: 100%;
	text-align: center;
	position: absolute;
	top:50px;

}
.subscribe-text h2{
	font-size: 35px;
	color: white;
	line-height: 50px;
}

.subscribe-text p{
	font-size:20px;
	color:white;
	line-height: 35px;
}
.form{
	width: 400px;
	height: 60px;
	background-color: white;
	color: gray;
	position: absolute;
	top:200px;
	left: 50%;
	margin-left: -200px;

}
footer{
	background-color: #313233;
	color:white;
	text-decoration: none;
	
	
}
